@media screen and (max-width: 768px) {
    p {
        text-align: justify;
    }
    .owl-nav,
    .owl-dots {
        display: none;
    }
    .whyus p {
        text-align: center;
    }
    .card-text-CTA {
        width: 100%;
    }

    .my-logo {
       width: 48%!important;
       top: -6px !important;
    }

    .hero-text {
       margin-top: -10% !important;
       margin-left: -15px !important;
      width: 100% !important;
    }

    .custom-container-style {
      margin-top: 10px!important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    p {
        font-size: 19px;
    }
    .navbar {
        height: 76px;
    }
    .my-logo {
        width: 100%;
        top: 12px;
    }
    .h1-style {
        font-size: 2.3rem;
        text-align: justify;
    }
    .cust-h4 {
        font-size: 1.6rem;
        margin: 30px 0;
    }
    .Applications::before {
        margin-left: -268px;
    }
    .productcard {
        height: 434px;
        width: 100%;
    }
    .mobile-custom-space {
        margin: 15px 0;
    }
    .mobile-custom-space h3 {
        font-size: 1.7rem;
    }
    .call-email {
        margin: 20px 0;
    }
    .call-email button {
        margin: 10px 0;
        font-size: 17px;
    }
    .hero-text {
        margin-top: -100%;
        margin-left: -60px;
        width: 65%;
    }
    .features{
        background-image: none;
    }

    .features-text-div{
       display: inline-flex;
       margin-top: 20px;
    }
    .feature-content{
       margin-left: 15px;
    }
    .icon-n {
        height: 55px;
        width: 75px;
        margin-left: -2px;
   }

   .image-gallery, .table-data{
     margin: 55px 10px;
   }

   .table-para{
      text-align: center;
   }

   .custom-container-style{
      margin-top: -20px;
   }

   .inquire-now {
        width: 45% !important;
    }
}

@media screen and (max-width: 480px) {
    .h1-style {
        font-size: 1.7rem;
        text-align: justify;
    }
    p {
        font-size: 17px;
        text-align: justify;
    }
    .OurProducts h2 {
        font-size: 2rem;
    }
    .readmore {
        font-size: 16px;
        padding: 8px 18px;
        margin: 0px 0 23px 0;
    }
    .Applications::before {
        margin-left: -163px;
        margin-top: 83px;
        height: 220px;
        background-size: 339px;
    }
    .owl-nav,
    .owl-dots {
        display: none;
    }
    .whyus {
        margin: auto;
        /* padding: 0; */
    }
    .whyus p {
        text-align: center;
    }
    .card-text-CTA {
        width: 100%;
    }
    .call-email {
        margin: 15px 0;
    }

    .hero-text{
        margin-top: -85%;
        width: 96%;
    }
    .product-para{
       text-align: center;
    }
    .features-text-div{
        display: inline-flex;
        margin-top: 20px;
    }
    .feature-content{
      margin-left: 20px;
    }

    .image-gallery, .table-data{
        margin: 55px 5px;
        text-align: center;
    }

    .table-para{
       text-align: center;
    }

    .contact-form-heading {
       margin-left: 7px !important;
    }

    .contact-us-two {
        margin: 10px auto;
    }

    .inquire-now {
        width: 45% !important;
    }
}

@media screen and (max-width: 360px) {
    p {
        font-size: 15px;
        text-align: justify;
    }
    .h1-style {
        font-size: 1.4rem;
        text-align: justify;
    }
    .cust-h4 {
        font-size: 1.2rem;
    }
    .OurProducts h2 {
        font-size: 1.4rem;
    }
    .card-title {
        font-size: 23px;
    }
    .readmore {
        font-size: 13px;
        padding: 8px 18px;
        margin: 0px 0 23px 0;
    }
    .Applications::before {
        margin-left: -163px;
        margin-top: 83px;
        height: 220px;
        background-size: 339px;
    }
    .owl-nav,
    .owl-dots {
        display: none;
    }
    /* .row {
        margin: 15px;
    } */
    .whyus {
        margin: auto;
        /* padding: 0; */
    }
    .whyus p {
        text-align: center;
    }
    .card-text-CTA {
        width: 100%;
        text-align: center;
    }
    .call-email {
        margin: 15px 0;
    }


    .my-logo{
        width: 36%;
        top: -10px;
    }

    .mobile-header-360{
       margin-top: -70px;
    }

    .inquire-now {
    width: 86% !important;
    margin-top: 8px!important;
    }

    .hero-text {
        margin-top: -120%;
        width: 96%;
    } 

    .feature-content {
       margin-left: 10px;
   }
}